<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <a href="{% url 'home' %}" class="text-deco-none text-dark">
            Django Odoo Project 
        </a>
    </div>
    <div class="list-group list-group-flush">
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action bg-light">
            Home
        </a>
        <a href="{% url 'add_book' %}" class="list-group-item list-group-item-action bg-light">
            Add Book
        </a>
    </div>
</div>